<script type="text/javascript">
  $(document).ready(function() {
  	$("#stack-compare tr").click(function(){
  	  window.location=$(this).find("a").attr("href"); 
  	  return false;
  	});
  });
</script>
<h1><%= @title %></h1>

<%= @intro %>

<% if @toc.size > 0 %>
	<ul id="toc">
	   
		<% @toc.each do |section| %>
			<li><a href="#<%= slugify(section) %>"><%= section %></a></li>
		<% end %>
	</ul>
<% end %>

<%= @body %>

<% if ns = next_section(params[:topic]) %>
	<div id="next_section">Next: <a href="/<%= ns[0] %>"><%=h ns[1] %> &rarr;</div>
<% end %>

<script type="text/javascript">



if(document.URL == "http://docs.devicemagic.com/fields") {

		var debug=true,h2Text="",currentIndex=0,preText="";
		var preCount = $("pre").length;
		var preIndexArray  = new Array();
		var preIDArray = new Array();
		var preIndexCount=0;
		$("pre").css('display','none');
		$("pre").each(function(){
			preIndexArray[preIndexCount]=$(this).index();
			$(this).attr("id","pre"+preIndexCount);
			var preID = $(this).attr("id");
			preIDArray[preIndexCount]=preID;
			preIndexCount++;
		});
		var h2IndexCount=0
		$("h2").each(function(){
			$(this).append('<a onclick=\"javascript:toggle('+preIDArray[h2IndexCount]+')\"> <p style=\"font-size:medium\">Show Code Example<p></a>');
			h2IndexCount++;
		});
		function toggle(inputID){
			if ($(inputID).css('display') == 'none'){
				$(inputID).css('display','');
			}
			else if ($(inputID).css('display') != 'none'){
				$(inputID).css('display','none');
			}
			else{
				$(inputID).css('display','none');
			}
		}
}		
 </script>
